.input_time {
  width: 9rem !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.signin-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 160px);
}
